h1 {
    border: 3px solid red;
  }
  
  .abs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }
  
  .off {
    display: none;
  }
  
  .cnt_task .finbtn,
  .cnt_task .delbtn {
    display: inline-block;
  }
  .finishlist .finbtn,
  .finishlist .delbtn {
    display: none;
  }
  
  .finishlist .donebtn,
  .finishlist .prevbtn {
    display: inline-block;
  }
  .cnt_task button {
    display: none;
  }
  