* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}



html, body, button, input, .notice, footer {
  font-family: 'NotoSansKR', '돋움', Dotum, Arial, sans-serif;

}




#wrap {
    position: relative;
    margin: 0 auto;
    max-width: 720px;
    height: auto;
    width: 100%;
    font-family: 'NotoSansKR', '돋움', Dotum, Arial, sans-serif;

}




.header,
.main-kv,
.event01-1,
.event01-2,
.event02-1,
.event02-2,
.notice,
footer {
    float: left;

}


.event01-1,
.event01-2,
.event02-1,
.event02-2 {
    width: 720px;
}



.event02-1,
.event02-2,
.notice,
footer {
    top: -30px;
    position: relative;


}

div {
    margin-top: -3px;

}

/* header */

.gnb {
    display: flex;
    height: 92px;


}

.gnb a {
    flex: 1;
    width: 30%;

    cursor: pointer;
}

.gnb2 {
    height: 92px;
    position: relative;
    display: none;
}

nav {

    width: 720px;
    position: relative;
    z-index: 2;
}




.open {
    height: 150px;
    width: 150px;
    cursor: pointer;
    top: 15%;
    margin: auto;
    position: relative;
}







.close {

    height: 65px;
    width: 70px;
    margin: 0 auto;
    top: 20%;
    position: relative;
    cursor: pointer;
}

/* main */
.main-kv {
    margin-top: -15px;
    background: url(../img//main-kv.png) no-repeat;
    height: 1259px;
    width: 720px;
    position: relative;
}


.main-kv .add {
    cursor: pointer;
    width: 238px;
    height: 294px;
    background: url(../img//float.png) no-repeat;
}

.main-kv .pop img {
    display: none;

}




#pop-wrap {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;

    height: 100%;
    padding: 5% 0 0 15%;
    bottom: 0;
    overflow-x: hidden;

    overflow-y: scroll;
    display: none;
    z-index: 3;

}

.pop-kv,
.e1-pop,
.e2-pop {
    position: absolute;
    left: 50%;

    transform: translate(-50%);
}





.exit {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
}

.pop-kv .exit {

    top: 0;
    right: 8%;
    z-index: 9;
    position: absolute;

}

.pop1 .exit,
.pop2 .exit,
.pop3 .exit,
.pop-info .exit,
.pop-last .exit {

    top: 0;
    right: 4%;
}








#pop-wrap .pop-kv {


    z-index: 1;
    width: 690px;
    height: 3603px;
    display: none;
    padding-left: 30px;
    background: url(../img//main-pop.png) no-repeat;
}





.pop1,
.pop2,
.pop3,
.pop-info,
.pop-last {
    display: none;

    margin: 0 auto;

}

.e1-pop .pop1 {

    z-index: 1;
    width: 690px;
    height: 1546px;
    background: url(../img//e1-pop-1.png) no-repeat;

}

.e1-pop .pop1 .ok {
    position: absolute;
    top: 46%;

    width: 50%;
    height: 20%;
    left: 25%;
}


.e1-pop .pop1 .ok:nth-child(2) {
    position: absolute;
    top: 70%;

    width: 50%;
    height: 20%;
    left: 25%;
}

.e1-pop .pop1 .ok li {
    background: url(../img//s-check.png
) no-repeat;
    width: 80px;
    height: 80px;

    position: relative;
    opacity: 0;
}



.ok1 {
    left: 2%;

}

.ok2 {
    left: 15%;
    top: -6%;
}

.ok3 {
    left: -20%;
    top: 5%;
}

.ok4 {
    left: 76%;
    top: -22%;
}


.click-ok {
    opacity: 1 !important;
}


.e1-pop .pop-info,
.e1-pop .pop-last {
    display: none;
}


.e1-pop .pop2 {
    background: url(../img//e1-pop-2.png) no-repeat;
    width: 690px;
    height: 1358px;


}

.pop2 .join2 {
    background: url(../img//join.png) no-repeat;
    height: 100px;
    width: 296px;

    position: relative;
    top: 86%;
    left: 28%;
}



.pop-info {

    width: 690px;
    height: 1618px;
}

.e1-pop .pop-info {
    background: url(../img//e1-pop-info.png) no-repeat;
}

.e2-pop .pop-info {
    background: url(../img//e2-pop-info.png) no-repeat;
}



.pop-info .input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30%;
    left: 27%;
}

.pop-info input {
    font-size: 2rem;
    margin-top: -45px;
    width: 61%;
    height: 89.5px;
    border: 1px solid #e4e1d8;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
text-indent: 15px;
}


.pop-info .map-check {
    margin-top: 25px;

}

.pop-info .map-check0 {
    margin-top: 25px;

}

.pop-info .map-btn {
    background: url(../img//zip-code.png) no-repeat;
    width: 114px;
    height: 92px;
    position: absolute;
    top: 37%;
    left: 45%;
    cursor: pointer;
}

.pop-info input:nth-child(2) {
    margin-top: 25px;
}

.pop-info input {
    outline: none !important;
}

.pop-info .checkbox {

    top: 28%;
    position: relative;
}

.pop-info .checkbox input[id="chkbox0"],
.pop-info .checkbox input[id="chkbox"] {

    width: 50px;
    height: 45px;
    position: relative;
    left: 70%;
    margin-top: 80px;
    display: inline-block;
    border: 1px solid #e4e1d8 !important;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;

}












.pop-info .checkbox input[id="chkbox"] + label,
.pop-info .checkbox input[id="chkbox0"] + label {

    width: 500px;
    height: 70px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 0%;
   

}


.pop-info .checkbox input[id="chkbox"]:checked + label,
.pop-info .checkbox input[id="chkbox0"]:checked + label {
    background: url(../img//check1.png) no-repeat;
    width: 45px;
    height: 45px;
    background-size: contain;
    position: relative;
    left: 63%;
    top: -10px;
}




/**/

.pop-info .pop-info-content {
    padding: 5%;
    width: 75%;
    height: 17%;
    margin: 0 auto;
    top: 28%;
    position: relative;
    overflow-y: scroll;
    font-size: 1.2rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}


.pop-info .okay {
    top: 33%;
}


.e1-pop .pop-last {
    background: url(../img//e1-pop-sns.png) no-repeat;
}

.e1-pop .pop-info {
    background: url(../img//e1-pop-info.png) no-repeat;
}

.e2-pop .pop-last {
    background: url(../img//e2-pop-sns.png) no-repeat;
}

.e2-pop .pop-info {
    background: url(../img//e2-pop-info.png) no-repeat;
}



.pop-last {
    width: 690px;
    height: 832px;

    position: relative;
    z-index: 1;
}

.pop-last .sns {

    display: flex;
    justify-content: space-around;
    padding: 0 70px;
    position: relative;
    top: 53%;

}

.pop-last .okay {
    top: 59%;
}

.okay {
    background: url(../img//okay.png) no-repeat;
    width: 296px;
    height: 100px;
    margin: 0 auto;

    position: relative;

}







.next,
.okay,
.join,
.join2 {
    cursor: pointer;
}


/* event 01*/

.event01-1 {
    position: relative;
}

.join {

    height: 100px;
    width: 260px;
    position: relative;
    margin: 0 auto;

}

.event01-1 .join {
    top: 91%;


}




.event01-1 {
    background: url(../img//event01-1.png) no-repeat;
    height: 1498px;

}








/* event02 */


.e2-pop .pop-info,
.e2-pop .pop-last {
    display: none;
}



.check-box input[id="chkbox1"],
.check-box input[id="chkbox2"],
.check-box input[id="chkbox3"],
.check-box input[id="chkbox4"],
.check-box input[id="chkbox5"],
.check-box input[id="chkbox6"] {
    display: none;

}

.check-box input[id="chkbox1"] + label,
.check-box input[id="chkbox2"] + label,
.check-box input[id="chkbox3"] + label,
.check-box input[id="chkbox4"] + label,
.check-box input[id="chkbox5"] + label,
.check-box input[id="chkbox6"] + label {

    width: 106px;
    height: 98px;
    display: inline-block;
    cursor: pointer;

}

.check-box input[id="chkbox1"] + label,
.check-box input[id="chkbox3"] + label,
.check-box input[id="chkbox5"] + label {
    top: 0%;

}

.check-box input[id="chkbox2"] + label,
.check-box input[id="chkbox4"] + label,
.check-box input[id="chkbox6"] + label {

    top: 50%;
    position: absolute;
    left: 0;
}

.check-box input[id="chkbox1"]:checked + label,
.check-box input[id="chkbox2"]:checked + label,
.check-box input[id="chkbox3"]:checked + label,
.check-box input[id="chkbox4"]:checked + label,
.check-box input[id="chkbox5"]:checked + label,
.check-box input[id="chkbox6"]:checked + label {
    background: url(../img//check1.png) no-repeat;

}


.e2-pop .check-box {
    position: relative;
    top: 45%;
    left: 20%;

    height: 25%;


}










.e2-pop .pop1 {
    background: url(../img//e2-pop-1.png) no-repeat;
    position: relative;
    width: 720px;
    height: 1259px;
}




.e2-pop .next {
    text-align: center;
    top: 60%;
    position: relative;
}



.e2-pop .pop2 {
    background: url(../img//e2-pop-2.png) no-repeat;
    position: relative;
    width: 720px;
    height: 1259px;
}





.pop3 {
    background: url(../img//e2-pop-3.png) no-repeat;
    position: relative;
    width: 720px;
    height: 1259px;

}


.pop3 .okay {
    top: 59%;

}




.mar {
    margin-top: 92px;
}

.fixed {
    position: fixed;
    top: -3px;
    z-index: 2;
}

.add {
    position: absolute;
    top: 82%;
    right: 0%;
    z-index: 1;


}





.event01-2 {
    background: url(../img//event01-2.png) no-repeat;
    height: 1719px;
}

.event02-1 {
    background: url(../img//event02-1.png) no-repeat;
    height: 1020px;
}

.event02-1 .pop .check {

    position: relative;
    z-index: 1;

}


.event02-2 {
    background: url(../img//event02-2.png) no-repeat;
    height: 1855px;
}



.event02-1 .join {
    top: 85%;

}


/* notice */

.notice {
    background: url(../img//notice.png) no-repeat;
    width: 720px;
    height: 1025px;
}

.notice .txt {

    width: 90%;
    height: 75%;
    top: 17%;
    left: 4%;
    position: relative;
    margin: 0 auto;
}


.notice li {
    position: relative;
    color: white;
    font-size: 1.6rem;
    font-family: 'NotoSansKR';
    letter-spacing: -1.6pt;
    margin-top: 16px;
    line-height: 1.6
}

.notice li span {
    font-size: 1.78rem;
}


/* footer */


footer {
    width: 718px;
    height: 314px;

    text-align: center;
}

footer img {
    margin-top: 70px;
}

footer .txt {

    width: 90%;
    height: 35%;
    top: 9%;
    position: relative;
    margin: 0 auto;
    font-size: 1.6rem;
    letter-spacing: -1.1pt;
    font-family: 'NotoSansKR';

}

footer .txt p:nth-child(2) {
    margin-top: 14px;
    color: rgba(1, 1, 1, 0.4);
    letter-spacing: -1pt;
}

.ab {
    display: none;
}

.on {
    display: block !important;
}
.nav00{
    background: url(../img/nav0.png) no-repeat;
}

.nav-0{
    background: url(../img/nav0.png) no-repeat;
}
.nav0{
    background: url(../img/nav.png) no-repeat;
}
.nav1 {
    background: url(../img//nav1.png)
}

.nav2 {
    background: url(../img//nav2.png) !important;
}

.nav3 {
    background: url(../img//nav3.png)
}

.over {
    overflow-y: hidden;
}



.gap {
/*    margin-top: 50px;*/
    margin-top: -50px;
}






















@media (max-width:719px) {
    header img {
        width: 100vw;
    }

#wrap{
    width: 100vw;
}

    .event02-1,
    .event02-2,
    .notice,
    footer {
        top: -4.1725vw;
        position: relative;



    }

    .gnb2 {
        width: 100vw;
        height: 12.7955vw;
        position: relative;
        display: none;
    }

    .main-kv,
    .event01-1,
    .event01-2,
    .event02-1,
    .event02-2,
    .notice,
    footer {
        width: 100vw;
        background-size: contain;


    }

    .gnb {
        width: 100vw;
        height: 12.7955vw;
            background-size: contain;
    }

    .nav1,
    .nav2,
    .nav3 {
        background-size: contain !important;
        width: 100vw;

    }

    .main-kv {
        height: 175.1043vw
    }

    .event01-1 {
        height: 208.3449vw;
    }

    .event01-2 {
        height: 239.0821vw;
    }

    .event02-1 {

        height: 141.8637vw;
    }

    .event02-2 {

        height: 257.9972vw;
    }

    .notice {

        height: 142.5591vw;
    }

    .notice li {
        font-size: 3.5vw !important;
        margin-top: 2.2253vw;
        letter-spacing: -0.2pt;
    }

    .notice li span {
        font-size: 3.5vw;

    }


    footer {
        width: 100vw;
        height: 43.6718vw;

    }

    footer img {
        margin-top: 9.7357vw;
    }

    footer .txt p {
        font-size: 3vw !important;
    }


    .main-kv .add {

        width: 33.1015vw;
        height: 40.8901vw;
        background-size: contain;
    }

    .add {

        top: 82%;
        right: 0%;

    }

    .e2-pop .pop1,
    .e1-pop .pop1,
    .e2-pop .pop2,
    .e2-pop .pop3,
    .e1-pop .pop3,
    .e2-pop .pop-info,
    .e1-pop .pop-info,
    .e2-pop .pop-last,
    .e1-pop .pop-last {
        width: 95.9666vw;
        background-size: contain;
    }





    #pop-wrap .pop-kv {
        width: 95.9666vw;

        height: 501.1127vw;

        padding-left: 4.1725vw;
        background-size: contain;
    }



    .e1-pop .pop1 {

        width: 95.9666vw;
        height: 215.0209vw;
        background-size: contain;
    }


    .e2-pop .pop1,
    .e2-pop .pop2,
    .e2-pop .pop3 {


        width: 100.1391vw;
        height: 175.1043vw;
    }



    .e1-pop .pop1 .ok li {

        width: 11.1266vw;
        height: 11.1266vw;

        background-size: contain;

    }


    .e1-pop .pop2 {
        width: 95.9666vw;
        height: 188.8734vw;
     background-size: contain;

    }

    
    
    .event01-1 {

        height: 208.3449vw;

    }


    
    .pop2 .join2 {

        height: 13.9082vw;
        width: 41.1683vw;
        background-size: contain;
    }

    .pop-info {

        /*    width: 95.9666vw;*/
        height: 225.0348vw;
    }

    .pop-info input {
     
        margin-top: -6.2587vw;
     
        height: 12.4478vw;
   text-indent: 2.0862vw;
        border-radius: 1.3908vw;
        box-shadow: 0.0000vw 0.0000vw 0.6954vw rgba(0, 0, 0, 0.2);

    }


    .pop-info .map-check {
        margin-top: 3.4771vw;

    }

    .pop-info .map-check0 {
        margin-top: 3.4771vw;

    }

    .pop-info .map-btn {
        background-size: contain;
        width: 15.8554vw;
        height: 12.7055vw;
        top: 37.7%;

    }

    .pop-info input:nth-child(2) {
        margin-top: 3.4771vw;
    }

.pop-info .checkbox input[id="chkbox0"],
.pop-info .checkbox input[id="chkbox"] {

    width: 6.9541vw;
    height: 6.2587vw;
    
   
    margin-top: 11.1266vw;
    
    border-radius: 1.3908vw;
    box-shadow: 0.0000vw 0.0000vw 0.6954vw rgba(0, 0, 0, 0.2);
    opacity: 0;

}




    .pop-info .checkbox input[id="chkbox"] + label,
.pop-info .checkbox input[id="chkbox0"] + label {

    width: 69.5410vw;
    height: 9.7357vw;
    

   

}
    
    

    .pop-info input {
        font-size: 4.2vw;
    }

    .pop-info .pop-info-content {
        font-size: 3.5vw;
    }




.pop-info .checkbox input[id="chkbox"]:checked + label,
.pop-info .checkbox input[id="chkbox0"]:checked + label {
 
    width: 6.2587vw;
    height: 6.2587vw;
    
    
  
    top: -1.3908vw;
}


    .okay {
        background-size: contain;
        width: 41.1683vw;
        height: 13.9082vw;
    }


    .check-box input[id="chkbox1"] + label,
    .check-box input[id="chkbox2"] + label,
    .check-box input[id="chkbox3"] + label,
    .check-box input[id="chkbox4"] + label,
    .check-box input[id="chkbox5"] + label,
    .check-box input[id="chkbox6"] + label {

        width: 14.7427vw;
        height: 13.6300vw;

    }


    .check-box input[id="chkbox1"]:checked + label,
    .check-box input[id="chkbox2"]:checked + label,
    .check-box input[id="chkbox3"]:checked + label,
    .check-box input[id="chkbox4"]:checked + label,
    .check-box input[id="chkbox5"]:checked + label,
    .check-box input[id="chkbox6"]:checked + label {
        background-size: contain;
    }

    .e2-pop .pop2 {
        height: 175.1043vw
    }


    .e2-pop .pop3 {
        height: 175.1043vw;
    }

    .e2-pop .pop-last {}

    .e2-pop .pop-info {}


    .pop-last {
        width: 95.9666vw;
        height: 115.7163vw;



    }

    .pop-last .sns {



        padding: 0 9.7357vw;



    }

    .pop-last .sns img {
        width: 19.4715vw;
        height: 19.4715vw;
    }



    .join {

        height: 13.9082vw;
        width: 36.1613vw;



    }



    .next img {
        width: 41.1683vw;
    }







    footer img {
        width: 50vw;
    }

.open {
    height: 20.8623vw;
    width: 20.8623vw;

    
}
    
    
    
    
    
.gap {

    margin-top: -6.9541vw;
}
    

}
